 @font-face {
  font-family: 'BoldPixels';
  src: url(../fonts/BoldPixels.otf) format('opentype');
 }

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, tahoma;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;

  width: 100vw;
  height: 100vh;

  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, tahoma;
}

img {
  image-rendering: pixelated;
}