.Main {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.Title {
  font-family: 'BoldPixels';
  font-size: 8vw;

  animation-name: glitch;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 3px 0 0 yellow, 5px 0 0 red, -3px 0 0 cyan, -5px 0 0 blue;
  }

  50% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }

  100% {
    text-shadow: 1px 0 0 yellow, 3px 0 0 red, -1px 0 0 cyan, -3px 0 0 blue;
  }
}

button {
  --button_radius: 0;
  --button_color: #000000;
  --button_outline_color: #ffffff;

  font-family: 'BoldPixels';
  font-size: 50px;
  font-weight: bold;
  border: none;
  cursor: pointer;

  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button-top {
  display: block;

  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);

  padding: 0.3em 4vw;

  background: var(--button_color);
  color: var(--button_outline_color);

  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button-top {
  transform: translateY(-0.33em);
  background: #222;
}

button:active .button-top {
  transform: translateY(0);
}